body {
  background-color: black;
}

.material-icons {
  /* espaco entre icones e texto */
  position: absolute;
  margin: 0px 10px;
}

.pagar {
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  margin: 6% 10%;
  border-radius: 10px;
  height: 450px;
  padding: 2%;
}

.bandeiras {
  margin-left: 3%;
  font-family: "Alata", sans-serif;
}

.botao {
  text-align: right;
}

button {
  margin-top: 7%;
  margin-right: 2%;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgb(76, 184, 130);
  height: 50px;
  width: 270px;
  font-size: 20px;
  color: white;
}

button:hover {
  background-color: rgb(63, 160, 112);
  cursor: pointer;
}
